<div class="home">
  <div style="height: 500px; background: white" class="wrapper px-5 py-5">
    <h1 class="fw-bold fs-48 mb-5">Get in touch!</h1>
    <div class="row">
      <h3 class="col-12 uppercase fs-16 fw-bold">Let's partner up!</h3>
      <p class="col-12 col-md-7 p-3 fs-12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, amet voluptates doloribus illo fugiat
        necessitatibus officia est voluptatem, architecto quae velit suscipit quasi facere tenetur porro reprehenderit
        veniam sunt eveniet.</p>
      <h3 class="col-12 fs-16 fw-bold">info@prada.eu</h3>
    </div>
  </div>
</div>
