<div style="background-color: #ddd;" class="footer p-5">
  <div class="row links py-3 w-100">
    <div class="col-12 col-md-8 d-flex">
      <div class="mr-5 d-flex flex-column">
        <h5 class="o-50 mb-5">Website</h5>
        <div class="d-flex flex-column">
          <a routerLink="/">Home</a>
          <a routerLink="/store">Store</a>
          <a routerLink="/contact">Contact</a>
        </div>
      </div>
    </div>
    <div class="mt-5 mt-md-0 col-12 col-md-4 d-flex flex-column">
      <h1 class="mb-3 fs-32 fw-bold">
        <a style="background-color:darkblue; color: white; border: 0" routerLink="/" class="fake-link fs-30 fw-bold p-2 rounded">Prada</a>
      </h1>
      <p class="fs-16 italic fw-bold">Premium clothing brand, recognized world-wide.</p>
    </div>
  </div>
</div>
