<div style="height: 80px; background-color:beige;" class="fixed-top w-100 bsb-15">
  <div class="wrapper w-100 h-100 px-5 d-flex justify-content-between align-items-center">
    <div class="logo">
      <a style="background-color:darkblue; color: white; border: 0" routerLink="/" class="fake-link fs-30 fw-bold p-2 rounded">Prada</a>
    </div>
    <div class="links h-100 d-flex align-items-center">
      <a class="fw-550 nav-link h-100 d-flex flex-column justify-content-center" routerActiveLink="['active']" routerLink="/">Home</a>
      <a class="fw-550 nav-link h-100 d-flex flex-column justify-content-center" routerActiveLink="['active']" routerLink="/store">Store</a>
      <a class="fw-550 nav-link h-100 d-flex flex-column justify-content-center" routerActiveLink="['active']" routerLink="/contact">Contact</a>
    </div>
  </div>
</div>
